<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Create a policy</h1>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="car_make" class="col-sm-3">Car make</label>
          <div class="col-sm-9">
            <select id="car_make" ng-model="policy.car_make" ng-change="onCarMakeChange()" class="form-control"
                    ng-options="opt.make_id as opt.make_display for opt in carMakesOptions">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="car_model" class="col-sm-3">Car model</label>
          <div class="col-sm-9" ng-show="showCarModelInput">
            <select id="car_model" ng-model="policy.car_model" class="form-control"
                    ng-options="opt.model_name for opt in carModelsOptions">
            </select>
          </div>
          <div class="col-sm-9" ng-hide="showCarModelInput">
            <input class="form-control" type="text" disabled="disabled" placeholder="Search car models">
          </div>
        </div>
        <div class="form-group">
          <label for="car_year" class="col-sm-3">Car year</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="car_year" ng-model="policy.car_year">
          </div>
        </div>
        <div class="form-group">
          <label for="initial_premium" class="col-sm-3">Initial premium</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="initial_premium" ng-model="policy.initial_premium">
            <p class="help-block">Enter your initial premium here.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="initial_deductible" class="col-sm-3">Initial deductible</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="initial_deductible" ng-model="policy.initial_deductible">
            <p class="help-block">Enter your initial deductible here.</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4 text-center">
            <button type="submit" class="btn btn-success">Create policy</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
