<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="#">
      Ethic
    </a>
  </li>
  <li class="link">
    <a href="#">Dashboard</a>
  </li>
  <li class="link">
    <a href="#policies/register">Register a policy</a>
  </li>
  <li class="link">
    <a href="#claims/file">File a claim</a>
  </li>
  <li class="link">
    <a href="#payment">Make a payment</a>
  </li>
  <li class="link">
    <a href="#faq">FAQ</a>
  </li>
  <li class="link">
    <a href="#tos">Rules &amp; Terms</a>
  </li>
</ul>
